* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}
button,
select,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
/* == zero style == */

// basec style = start
:root {
  --oy-bg-page: #fffaea;
  --oy-bg-modal: #fffaea52;
  --oy-bg-bordr: #ffe58e;
  --oy-text-color: #dfb932;
  --oy-btn-bg-color: #fcd034;
  // ===============
  --oy-text-ff: "Comfortaa", sans-serif;
}
.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;
}
// basec style = end

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--oy-bg-page);
  font-family: var(--oy-text-ff);
  font-style: normal;
  background-color: var(--oy-bg-page);
}

// === header === start
header {
  flex: 0 0 auto;
  border-bottom: 1px solid var(--oy-bg-bordr);
  h1 {
    text-align: center;
    padding: 1rem 0;
    font-weight: 700;
    color: var(--oy-text-color);
  }
}
// === header === end

// === main === start
main {
  flex: 1 1 auto;
  min-height: 100%;
  .main__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 100%;
    section {
      padding: 1rem;
      min-height: 100%;
    }
    .store {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      .product {
        width: 100%;
        border: 1px solid var(--oy-bg-bordr);
        min-height: 5rem;
        border-radius: 0.4rem;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          height: 14rem;
          object-fit: cover;
        }
        .descrip {
          text-align: center;
          padding: 1rem;
          h2 {
            font-size: 1.2rem;
            font-weight: 600;
          }
          p {
            font-size: 0.8rem;
            font-weight: 600;
            margin: 0.4rem 0;
          }
          label {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            margin: 0.4rem 0;
            font-size: 1.2rem;
            border-top: 1px solid var(--oy-bg-bordr);
            padding-top: 1rem;
            input {
              width: 20%;
              font-size: 1.2rem;
              text-align: center;
              caret-color: var(--oy-text-color);
              background-color: transparent;
            }
          }
          button {
            background-color: var(--oy-btn-bg-color);
            padding: 0.4rem;
            border-radius: 0.2rem;
            font-size: 1.5rem;
            &:hover {
              box-shadow: 0 0 0 0.2rem var(--oy-btn-bg-color);
            }
          }
        }
        &:hover {
          box-shadow: 0 0.2rem 0 0.1rem var(--oy-bg-bordr);
        }
      }
    }
    .cart {
      border-left: 1px solid var(--oy-bg-bordr);
      position: relative;
      .cart__container {
        position: sticky;
        top: 1rem;
        margin: 1rem rem;
        border: 1px solid var(--oy-bg-bordr);
        min-height: 1rem;
        border-radius: 0.4rem;
        padding: 0.5rem;
        display: grid;
        gap: 0.5rem;
        text-align: center;
        .cart_product {
          display: grid;
          grid-template-columns: 1fr 2fr;
          border: 1px solid var(--oy-bg-bordr);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .descrip {
            padding: 1rem;
            width: 100%;
            text-align: center;
            p {
              font-size: 0.8rem;
              font-weight: 600;
              margin: 0.4rem 0;
            }
            button {
              background-color: var(--oy-btn-bg-color);
              padding: 0.4rem;
              border-radius: 0.2rem;
              font-size: 1.2rem;
              &:hover {
                box-shadow: 0 0 0 0.2rem var(--oy-btn-bg-color);
              }
            }
          }
          &:hover {
            box-shadow: 0 0.2rem 0 0.1rem var(--oy-bg-bordr);
          }
        }
      }
    }
  }
}
// === main === end

// === footer === start
footer {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid var(--oy-bg-bordr);
  a {
    color: var(--oy-text-color);
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    background-color: var(--oy-bg-page);
    &:hover {
      background-color: var(--oy-text-color);
      color: var(--oy-bg-page);
    }
  }
}
// === footer === end

#modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--oy-bg-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  .modal-body{
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid var(--oy-bg-bordr);
    background-color: var(--oy-bg-page);
  }
}


@media (max-width: 1200px) {
  main {
    .main__container {
      .store {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media (max-width: 840px) {
  main {
    .main__container {
      .store {
        grid-template-columns: repeat(1, 1fr);
      }
      .cart{
        .cart__container{
          .cart_product{
            grid-template-columns: 1fr;
            img{
              display: none;
            }
          }
        }
      }
    }
  }
}
